EXAMEN 2 EVALUACION/PEN RAFA/Lenguaje de marcas/tareaPuntuable.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="plantilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="futbolista" maxOccurs="unbounded">
          <xs:complexType>
            <xs:simpleContent>
              <xs:attribute name="nombre" type="xs:string"/>
              <xs:attribute name="edad" type="xs:string"/>
            </xs:simpleContent>
            <xs:sequence>
              <xs:element name="equipo" type="xs:string" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="nombre" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="posicion" type="xs:string">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:enumeration value="defensa"/>
                    <xs:enumeration value="centrocampista"/>
                    <xs:enumeration value="delantero"/>
                    <xs:enumeration value="portero"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
