3 EVALUACION/PEN RAFA/Lenguaje de marcas/examen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="clientes">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="persona">
			<xs:complexType>
			<xs:sequence>	
				<xs:element name="nombre" type="xs:string"/>
				<xs:element name="apellido" type="xs:string"/>
				<xs:element name="calle" type="xs:string"/>
				<xs:element name="poblacion" type="xs:string"/>
				<xs:element name="provincia" type="xs:string"/>	
			</xs:sequence>
			</xs:complexType>
		</xs:element>	
	</xs:sequence>
	</xs:complexType>
</xs:element>
</xs:schema>

